extends layout

block content
  div#bg-color.jumbotron.my-3
    img.mx-auto(src="../img/Yoteikun.png", width="70%", height="70%")
    p.lead Yotei-kunは、GitHubで認証でき、予定を作って出欠が取れるサービスです
    style.
      #bg-color{
        background: #c6e5f3;,
      } 
  if user
    div
      a(href="/schedules/new").btn.btn-info 予定を作る
      //- style.
      //-   .btn{
      //-     background-color: #084a83!important;
      //-   }
    - var hasSchedule = schedules.length > 0
    if hasSchedule
      h3.my-3 あなたの作った予定一覧
      table.table
        tr
          th 予定名
          th 更新日時
        each schedule in schedules
          tr
            td
              a(href=`/schedules/${schedule.scheduleId}`) #{schedule.scheduleName}
            td #{schedule.formattedUpdatedAt}
