extends layout
block content
  //jquery3.2
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  //bootstrap3.3.7
  script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
  // bootstrap-datetimepicker1.7.1
  script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js', charset='UTF-8')
  // 日本語ロケール
  script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/locales/bootstrap-datepicker.ja.min.js')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css')

  form(method="post", action="/schedules").my-3
    input(type="hidden" name="_csrf" value!=csrfToken)
    div.form-group
      label(for="scheduleName") 
      h3 予定の新規作成
      input(type="text" name="scheduleName" placeholder="タイトルを追加")#scheduleName.form-control
    div.form-group
      label(for="memo") 
      textarea(name="memo" placeholder="予定の詳細")#memo.form-control
    div.form-group
<<<<<<< HEAD
      label(for="candidates") 
=======
      label(for="candidates")
>>>>>>> input_calender
          #datepicker.input-group.date
            input.form-control(type='text' name="candidates" placeholder="候補日程")#candidates.form-control
            .input-group-addon
              //- input(name="candidates" rows="2")#candidates.form-control
              span.glyphicon.glyphicon-calendar
              script.
                $('#datepicker').datepicker({
                    format: 'yyyy年MMdd日', //日付のフォーマット
                    language:'ja', //日本語表示
                    pickDate: true,
                    pickTime: true,
                    hourStep: 1,
                    minuteStep: 15,
                    secondStep: 30,
                    inputMask: true
                });
          br
          button(type="submit").btn.btn-info 予定をつくる
